* {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
  color: white;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-family: "Bungee", sans-serif, sans-serif;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

body, html {
  overflow-x: hidden;
  background-color: #070707; }

html {
  font-size: 16px;
  scroll-behavior: smooth; }

section {
  overflow-x: hidden; }

h1, h2, h3, p {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1); }

h1 {
  font-size: 4rem;
  letter-spacing: 5px; }

h2 {
  letter-spacing: 3px; }

h3 {
  font-size: 1.4rem;
  letter-spacing: 2px; }

p {
  font-size: 1rem;
  letter-spacing: 3px;
  font-family: "Lato", sans-serif, sans-serif; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track {
  background: #111; }

::-webkit-scrollbar-thumb {
  background: white; }

::-webkit-scrollbar-thumb:hover {
  background: #d94141; }

.navbar-container {
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0); }
  .navbar-container .navbar-brand {
    font-size: 2.5rem;
    font-family: "Bungee", sans-serif;
    color: white;
    -webkit-animation: fadeIn 1s forwards;
    animation: fadeIn 1s forwards; }
    .navbar-container .navbar-brand:hover {
      color: #d94141; }
  .navbar-container .navbar-toggler {
    position: relative;
    z-index: 105;
    color: white !important; }
  .navbar-container ul li {
    -webkit-animation: fadeIn 2s forwards;
    animation: fadeIn 2s forwards;
    opacity: 0;
    text-transform: uppercase;
    letter-spacing: 1px; }
    .navbar-container ul li:nth-child(2) {
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s; }
    .navbar-container ul li:nth-child(3) {
      -webkit-animation-delay: 1s;
      animation-delay: 1s; }
    .navbar-container ul li a {
      color: white;
      padding: 15px 30px !important; }
      .navbar-container ul li a:hover {
        color: #d94141; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes scrollHeightExpand {
  from {
    height: 0; }
  to {
    height: 75px; } }

@keyframes scrollHeightExpand {
  from {
    height: 0; }
  to {
    height: 75px; } }

@-webkit-keyframes scrollDown {
  0%, 80%, 100% {
    top: 10px; }
  30%, 50% {
    top: 40px; } }

@keyframes scrollDown {
  0%, 80%, 100% {
    top: 10px; }
  30%, 50% {
    top: 40px; } }

#landing {
  width: 100vw;
  height: 100vh;
  background-color: black; }
  #landing .portfolio-video {
    width: 100vw;
    height: 100vh; }
  #landing .portfolio-title {
    position: absolute;
    bottom: 10px;
    opacity: 0;
    -webkit-animation: fadeIn 0.5s forwards;
    animation: fadeIn 0.5s forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }
  #landing video {
    width: 117vw;
    -webkit-filter: brightness(0.6);
    filter: brightness(0.6);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-animation: fadeIn 1s forwards;
    animation: fadeIn 1s forwards;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    opacity: 0; }
    @media (max-width: 1200px) {
      #landing video {
        width: 100vw; } }
  #landing .scroll-down {
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    bottom: 25px; }
    @media (max-width: 767px) {
      #landing .scroll-down div {
        display: none; } }
    #landing .scroll-down div:first-child {
      width: 30px;
      border: 2px solid white;
      border-radius: 50px;
      height: 60px;
      opacity: 0;
      -webkit-animation: fadeIn 1s forwards;
      animation: fadeIn 1s forwards;
      -webkit-animation-delay: 2s;
      animation-delay: 2s; }
    #landing .scroll-down div:nth-child(2) {
      top: 10px;
      width: 8px;
      height: 10px;
      opacity: 0;
      position: absolute;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      left: 50%;
      position: absolute;
      -webkit-animation: fadeIn 0.5s forwards, scrollDown 5s infinite;
      animation: fadeIn 0.5s forwards, scrollDown 5s infinite;
      -webkit-animation-delay: 3s;
      animation-delay: 3s;
      border-radius: 10px;
      background-color: white;
      border: 1px solid white; }

@-webkit-keyframes videoTrack {
  from {
    background-position: 0 0; }
  to {
    background-position: 0 200vh; } }

@keyframes videoTrack {
  from {
    background-position: 0 0; }
  to {
    background-position: 0 200vh; } }

#portfolio {
  width: 100vw;
  background-color: #070707;
  position: relative;
  z-index: 2; }
  #portfolio .portfolio-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    #portfolio .portfolio-container .portfolio-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 50vw;
      height: 28vw;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      overflow: hidden;
      -webkit-filter: brightness(0.9);
      filter: brightness(0.9);
      position: relative; }
      @media (max-width: 1200px) {
        #portfolio .portfolio-container .portfolio-item {
          width: 100vw;
          height: 56vw; } }
      #portfolio .portfolio-container .portfolio-item svg {
        position: absolute;
        top: 0;
        left: 0; }
      #portfolio .portfolio-container .portfolio-item .rect {
        width: 200%;
        height: 200%; }
      #portfolio .portfolio-container .portfolio-item rect {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
        transform-origin: 0 100%;
        width: 200%;
        height: 0;
        -webkit-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out; }
      #portfolio .portfolio-container .portfolio-item .clipped {
        position: relative;
        z-index: 5; }
      #portfolio .portfolio-container .portfolio-item:first-child {
        background: top/100% auto url("../../assets/images/grey/tsm-legends.jpg"); }
      #portfolio .portfolio-container .portfolio-item:nth-child(2) {
        background: top/100% auto url("../../assets/images/grey/meet-myth.jpg"); }
      #portfolio .portfolio-container .portfolio-item:nth-child(3) {
        background: top/100% auto url("../../assets/images/grey/tsm-fortnight-cookoff.jpg"); }
      #portfolio .portfolio-container .portfolio-item:nth-child(4) {
        background: top/100% auto url("../../assets/images/grey/ask-tsm.jpg"); }
      #portfolio .portfolio-container .portfolio-item:nth-child(5) {
        background: top/100% auto url("../../assets/images/grey/chipotle.jpg"); }
      #portfolio .portfolio-container .portfolio-item:nth-child(6) {
        background: top/100% auto url("../../assets/images/grey/hamlinz-drives-luxury-cars.jpg"); }
  #portfolio .portfolio-item h3 {
    display: none; }

#about {
  background-color: #070707;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 2; }
  @media (max-width: 767px) {
    #about {
      height: auto; } }
  #about .about-container {
    width: 50vw;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    left: 0; }
    @media (max-width: 767px) {
      #about .about-container {
        width: 100vw;
        position: relative;
        top: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none; } }
  #about .text {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    left: 50%;
    z-index: 3; }
    @media (max-width: 767px) {
      #about .text {
        position: relative;
        top: 0;
        left: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none; } }
    #about .text i {
      font-size: 1.3rem; }
      #about .text i:hover {
        color: #d94141; }
  #about .img {
    height: 100%;
    width: 50vw;
    right: 0;
    bottom: 0;
    position: absolute;
    background: 80% 0/auto 120% url("../../assets/images/filming.jpg"); }
    @media (max-width: 767px) {
      #about .img {
        position: relative;
        top: 0;
        -webkit-transform: 0;
        -ms-transform: 0;
        transform: 0;
        height: 50vh;
        width: 100vw;
        background: center/cover url("../../assets/images/filming.jpg"); } }
