//Colors
$red: #d94141;
$black: #070707;
$grey: #aaa;
$white: #eee;

//Media Query
$xxs: 479px;
$xs : 767px;
$sm: 992px;
$md: 1200px;
$lg: 1600px;

//Font Family
$headerFont: 'Bungee', sans-serif;
$textFont: 'Lato', sans-serif;