@import "_variables.scss";
@import "_mixins.scss";

* {
    @include boxSizing;
    color: white;
    transition: 0.2s;
	font-family: $headerFont, sans-serif;
	transition: 0.3s;
}
body, html {
    overflow-x: hidden;
	background-color: $black;
	position: relative;
}
html {
    font-size: 16px;
    scroll-behavior: smooth;
}
section {
	overflow-x: hidden;
}

//////////
// TEXT //
//////////
h1, h2, h3, p {
	text-shadow: 0px 0px 2px rgba(0,0,0,0.1);
}
h1 {
	font-size: 4rem;
	letter-spacing: 5px;
	line-height: 1.1;
}
h2 {
	letter-spacing: 3px;
}
h3 {
	font-size: 1.4rem;
	letter-spacing: 2px;
}
p {
	font-size: 1rem;
	letter-spacing: 3px;
	font-family: $textFont, sans-serif;
}

///////////////
// SCROLLBAR //
///////////////
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #111; 
}
::-webkit-scrollbar-thumb {
  background: white;
}
::-webkit-scrollbar-thumb:hover {
  background: $red;
}

////////////
// NAVBAR //
////////////
.navbar-container {
	position: fixed;
	z-index: 100;
	background-color: rgba(0,0,0,0);
	.navbar-brand {
		font-size: 2.5rem;
		font-family: $headerFont;
		color: white;
		animation: fadeIn 1s forwards;
		&:hover {
			color: $red;
		}
	}
	.navbar-toggler {
		position: relative;
		z-index: 105;
		color: white !important;
	}
	ul {
		li {
			animation: fadeIn 2s forwards;
			opacity: 0;
			text-transform: uppercase;
			letter-spacing: 1px;
			&:nth-child(2) {
				animation-delay: 0.5s;
			}
			&:nth-child(3) {
				animation-delay: 1s;
			}
			a {
				color: white;
				padding: 15px 30px !important;
				&:hover {
					color: $red;
				}
			}
		}
	}
}

/////////////
// LANDING //
/////////////
@keyframes fadeIn {
	from {opacity: 0}
	to {opacity: 1}
}
@keyframes scrollHeightExpand {
	from {height: 0}
	to {height: 75px}
}
@keyframes scrollDown {
	0%, 80%, 100% {top: 10px}
	30%, 50% {top: 40px}
}
#landing {
	width: 100vw;
	height: 100vh;
	background-color: black;
	position: relative;
	.portfolio-video {
		width: 100vw;
		height: 100vh;
	}
	.portfolio-title {
		position: absolute;
		bottom: 10px;
		opacity: 0;
		animation: fadeIn 0.5s forwards;
		animation-delay: 1s;
	}
	video {
		width: 117vw;
		filter: brightness(0.6);
		@include centerer;
		animation: fadeIn 1s forwards;
		animation-delay: 1.5s;
		opacity: 0;
	}
	.scroll-down {
		position: absolute;
		@include centerX;
		bottom: 25px;
		div {
			@include mQ($xs) {
				display: none;
			}
			&:first-child {
				width: 30px;
				border: 2px solid white;
				border-radius: 50px;
				height: 60px;
				opacity: 0;
				animation: fadeIn 1s forwards;
				animation-delay: 2s;
			}
			&:nth-child(2) {
				top: 10px;
				width: 8px;
				height: 10px;
				opacity: 0;
				position: absolute;
				@include centerX;
				animation: fadeIn 0.5s forwards, scrollDown 5s infinite;
				animation-delay: 3s;
				border-radius: 10px;
				background-color: white;
				border: 1px solid white;
			}
		}
	}
}

///////////////
// PORTFOLIO //
///////////////
@keyframes videoTrack {
	from {background-position: 0 0}
	to {background-position: 0 200vh}
}
#portfolio {
//	height: 100vh;
	width: 100vw;
	background-color: $black;
	position: relative;
	z-index: 2;
	.portfolio-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.portfolio-item {
			display: flex;
			width: 50vw;
			height: 28vw;
			transition: 1s;
			overflow: hidden;
			filter: brightness(0.9);
			position: relative;
			@include mQ($md) {
				width: 100vw;
				height: 55vw;
			}
			svg {
				position: absolute;
				top: 0;
				left: 0;
			}
			.rect {
				width: 200%;
				height: 200%;
			}
			rect {
				transform: rotate(-45deg);
				transform-origin: 0 100% ;
				width: 200%;
				height: 0;
				transition: 0.5s ease-in-out;
			}
			.clipped {
				position: relative;
				z-index: 5;
			}
			&:first-child {
				background: top / 100% auto url("../../assets/images/grey/tsm-legends.jpg");
			}
			&:nth-child(2) {
				background: top / 100% auto url("../../assets/images/grey/meet-myth.jpg");
			}
			&:nth-child(3) {
				background: top / 100% auto url("../../assets/images/grey/tsm-fortnight-cookoff.jpg");
			}
			&:nth-child(4) {
				background: top / 100% auto url("../../assets/images/grey/ask-tsm.jpg");
			}
			&:nth-child(5) {
				background: top / 100% auto url("../../assets/images/grey/chipotle.jpg");
			}
			&:nth-child(6) {
				background: top / 100% auto url("../../assets/images/grey/hamlinz-drives-luxury-cars.jpg");
			}
		}
		h3 {
			display: none;
		}
	}
	
}

///////////
// ABOUT //
///////////
#about {
	background-color: $black;
	height: 100vh;
	width: 100vw;
	position: relative;
	z-index: 2;
	@include mQ($xs) {
		height: auto;
	}
	.about-container {
		width: 50vw;
		position: absolute;
		@include centerY;
		left: 0;
		@include mQ($xs) {
			width: 100vw;
			position: relative;
			top: 0;
			transform: none;
		}
	}
	.text {
		@include centerer;
		left: 50%;
		z-index: 3;
		@include mQ($xs) {
			position: relative;
			top: 0;
			left: 0;
			transform: none;
		}
		i {
			font-size: 1.3rem;
			&:hover {
				color: $red;
			}
		}
	}
	.img {
		height: 100%;
		width: 50vw;
		right: 0;
		bottom: 0;
		position: absolute;
		background: 80% 0 / auto 120% url("../../assets/images/filming.jpg");
		@include mQ($xs) {
			position: relative;
			top: 0;
			transform: 0;
			height: 50vh;
			width: 100vw;
			background: center / cover url("../../assets/images/filming.jpg");
		}
	}
}